Base_Twitter/Tweets_persona_clusterizado/*.csv
Base_Twitter/Tweets_por_persona/*.csv
Base_Twitter/*.csv
Base_Twitter/manual manual
Base_Twitter/nuevas_series_29_8
Base_Twitter/Tw_1500_citas_55
Base_Twitter/Tw_1500_citas_55_octubre_todas
Base_Twitter/Tw_con_RT
Base_Twitter/viejos
Base_Twitter/Tweets_august
Base_Twitter/Tw_meses/*.csv
Base_Twitter/imagenes
